@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav-gradient {
  background: rgb(247,160,27);
  background: linear-gradient(90deg, rgba(247,160,27,1) 4%, rgba(255,255,255,1) 17%, rgba(252,213,18,1) 36%, rgba(252,168,18,1) 63%);
  filter: blur(100px);
}

.orange-gradient {
  background: rgb(252,213,18);
  background: radial-gradient(
    circle,
    rgba(252,213,18,1) 20%, 
    rgba(247,160,27,1) 100%
  );
  filter: blur(50px);
}

.yellow-gradient {
  background: rgb(247,160,27);
  background: linear-gradient(
    90deg, 
    rgba(247,160,27,1) 0%, 
    rgba(252,213,18,1) 36%
  );
  filter: blur(75px);
}

.blue-gradient {
  background: rgb(0,161,223);
  background: linear-gradient(
    0deg, 
    rgba(0,161,223,1) 0%, 
    rgba(253,187,45,1) 100%
  );
  filter: blur(200px);
}

.purple-gradient {
  background: rgb(127,88,164);
  background: linear-gradient(
    90deg, 
    rgba(127,88,164,1) 0%, 
    rgba(252,213,18,1) 43%,
    rgba(247,160,27,1) 100%
  );
  filter: blur(25px);
}